@import "Partials/variables";
@import "Partials/mixins";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  background-color: #fff;
  color: black;
  font-family: $base-font;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility; }

header {
  position: fixed;
  z-index: 3;
  width: 100%;
  top: 0px; }

nav {
  background-color: $color-darkblue;
  height: 52px;
  @include flex-prefix;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px; }
.blueText {
  color: $color-darkblue;
}          
.anchor {
  padding-top: 60px;
  width: 100%;
}
.frontpage a {
  text-decoration: none;
}
.hamburger {
  @include flex-prefix;
  margin: auto; }

.below-hamburger {
  background-color: $color-lightblue;
  @include flex-prefix;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80px;
          flex: 0 0 80px; }

.loggo {
  @include flex-prefix;
  @include align-items-center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
           }

.container {
  margin: 0 auto;
  max-width: 1080px;
  overflow: hidden; }

.cyberia {
  @include flex-prefix;
  @include font($base-font, 1.625em, bold, black);
  padding-left: 15px;
 }

/*---------------------------------------------------------*/
/*------------- Headings----------------------------------*/
h1 {
  @include font($head-font, 1.875em, bold, #111);
  margin: 0px;
  text-align: center; }

h2 {
  @include font($head-font, 1.5em, bold, #111);
  margin: 0px;

  text-align: center; }
h3 {
  @include font($family: $head-font, $size: 18px);
  text-align: left;
}
p {
  @include font($family: $base-font, $size: 1em);
	max-width: 511px;
}  
/*---------------------------------------------------------*/
.mobile {
  @include font($family: $base-font,$size: 1em);
  @include flex-prefix;
  padding: 0 8px; }

.mobile-centering{
  @include flex-prefix;
  @include align-items-center;
  @include flex-direction-column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px; 
        }
.tjanst > img {
  @include flex-prefix;
	margin: 0 auto;
} 
.dark-blue {
  @include flex-prefix;
  @include align-items-center;
  @include justify-content-center; 
  width: 130px;
  height: 176px;		
  background-color: $color-lightblue; }

.light-blue {
  @include flex-prefix;
  @include align-items-center;
  @include justify-content-center;
  width: 130px;
  height: 176px;		
  background-color: $color-lightgrey; }

.portfolio-container {
  @include flex-prefix;
  @include justify-content-center;
  max-width: 1080px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.portfolio-small img {
  height: 100px;
  width: 100%;
  max-width: 150px;
}
.largespace {
  padding-bottom: 1em; }

.smallspace {
  padding-bottom: 0.75em; }

.smallspaceright {
  padding-right: 8px; }

.blueline {
  margin-left: 25%;
  height: 0.1em;
  width: 6em;
  background-color: $color-orange;
  border-radius: 0.7em; 
  margin-top: 54px;}

/*-----------------FOOTER------------*/
.footericonswraper {
  width: 100%;
  @include flex-prefix;
  @include justify-content-center;
 }

/*---------------------------------------------------------*/
/*-------------------FORM----------------------------------*/
.contactForm input[type=text], .contactForm input[type=email], .contactForm input[type=telephone], .contactForm textarea {
  outline: none;
  @include flex-prefix;
  padding: 15px;
  box-sizing: border-box;
  width: 100%;
  background: $color-lightestgrey; }

button {
  display: block;
  width: 100%;
  background-color: $color-darkblue;
  border: 0;
  height: 50px; }

.contactForm input, .contactForm textarea {
  margin: 10px auto; 
  margin-top: 0px;
}

.contactform input.name ::-webkit-input-placeholder {
  background-image: url("/icons/name.png");
  width: 20px;
  color: orange; }

.contactForm ::-moz-input-placeholder {
  background-image: url("/icons/businessman-256.svg");
  width: 20px;
  color: green; }

.contactForm ::-ms-input-placeholder {
  background-image: url("/icons/businessman-256.svg");
  width: 20px;
  color: green; }

/*------------HAMBURGER MENU ------------------------------*/
.navicon {
  @include flex-prefix;
  @include align-items-center;
  @include justify-content-center;
  width: 100%;
  height: 100%;
  background: $color-lightblue;
  float: right;
}
.closeIcon {
  @include font($family: $base-font, $size: 1.875em, $color: #666);
  line-height: 36px;
}
.sideNav {
  top: 52;
  position: fixed;
  height: 100vh;
  background: $color-lightblue;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-animation: slidein 0.5s forwards;
          animation: slidein 0.5s forwards;
}
@-webkit-keyframes slidein {
  from {
    margin-left: 100%;
    width: 10%; }
  to {
    margin-right: 0%;
    width: 100%; }
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 10%; }
  to {
    margin-right: 0%;
    width: 100%; }
}
.sideNav ul {
  @include flex-prefix;
  @include align-items-center;
  @include flex-direction-column;
  list-style: none;
  background: $color-lightblue; 
  padding-top: 50px;
}
.sideNav a {
  display: block;
  margin-top: 1.5em;
  text-decoration: none;
  color: white; 
}
.flexcol{
    @include flex-prefix;
    @include align-items-center;
    @include justify-content-center;
    @include flex-direction-column;
}
.footer-text h2, h3{
  text-align: center;
}   

  .map
  {
      width:200px;
      height: 200px;
  }

 #map{
     
      border-radius: 50%;
      width:100%;
      height:100%
 }

/*------------IPAD & DESKTOP MENU ------------------------------*/
@media screen and (min-width: 240px) and (max-width: 500px){
  .desktopNav{
    display: none;
  }
  .headerlogo{
    display: none;
  }
  .vara-tjanster{
    @include flex-prefix;
    @include align-items-center;
    @include justify-content-center;
    @include flex-flow-row-wrap;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .tjanst {
    @include flex-prefix;
    @include align-items-center;
    @include flex-direction-column;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 320px;
            flex: 1 1 320px;
    max-width: 533px;
  }
  .blueline{
    width: 50%;
  }
  .om-oss-col {
    @include flex-prefix;
    @include align-items-center;
    @include flex-direction-column;
    @include align-self-flex-start;
  }
  .portfolio-col{
    @include flex-prefix;
    @include align-items-center;
    @include flex-direction-column;
  }

}     
@media screen and (min-width: 501px) and (max-width: 1023px){		
  .desktopNav{
    display: none;
  }  
  .sideNav {
    -webkit-transform: translateX(50%);
            transform: translateX(50%); 
  }
  .sideNav ul {
    margin-right: 50%;
  }
  .headerlogo{
    display: block;
    margin-right: 4px;
    height: 36px;
    width: 36px;
  }
  .mobile-centering {
    @include flex-prefix;
    @include flex-direction-column;
  }
  .vara-tjanster {
  @include flex-prefix;
  @include align-items-center;
  @include flex-flow-row-wrap;
	-ms-flex-pack: distribute;
	    justify-content: space-around;

  }
  .tjanst {
    @include flex-prefix;
    @include align-items-center;
    @include flex-direction-column;
    @include align-self-flex-start;
	  -webkit-box-flex: 1;
	      -ms-flex: 1 1 320px;
	          flex: 1 1 320px;
    max-width: 320px;
  }
  .portfolio-container {
    @include flex-prefix;
    @include align-items-center;
    @include flex-flow-row-wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .portfolio-col{
    @include flex-prefix;
    @include align-items-center;
    @include flex-direction-column;
    @include align-self-flex-start;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 320px;
            flex: 1 1 320px;
    max-width: 320px;
  }
  .portfolio-heading{
    width: 100%;
  } 
  .portfolio-small{
    width: 100%;
    margin: 0 calc(100% - 640px);
  }
  .portfolio-small > div{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    /*width: 25%;*/
  }        
  .blueline {
    width: 50%;
  }
  .om-oss {
  @include flex-prefix;
  @include align-items-center;
  @include justify-content-center;
  @include flex-flow-row-wrap;
  }
  .om-oss-col{
    @include flex-prefix;
    @include align-items-center;
    @include flex-direction-column;
    @include align-self-flex-start;
	   -webkit-box-flex: 1;
	       -ms-flex: 1 1 0px;
	           flex: 1 1 0px;
  }
  .p1 {
  	width: 600px;
  	margin-bottom: 2em;
  }
  .p2 {
    width: 300px;
  }
  .kontakt{
    @include flex-prefix;
    @include align-items-center;
    @include flex-flow-row-wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  } 
  .contactForm input[type=text]{
    width: 320px;
  }
   
  .flexcol{
    @include flex-prefix;
    @include align-items-center;
    @include justify-content-center;
    @include flex-direction-column;
    @include align-self-flex-start;
    max-width: 533px;
  }
  /*---------- Footer ------------*/
  .desktop-centering{
    flex-direction: row;
    margin: 2em;
    justify-content: space-around;
  }
  .footer-text{
    width: 70%;
  }
  .footer-text h2, h3 {
    text-align: left;
  }
  .footericonswraper{
    width: 30%;
    justify-content: flex-end;
  } 

   .map
  {
      width:250px !important;
      height: 250px !important;
  }

 } 
@media screen and (min-width: 1024px){
  p {
	max-width: 1000px;
  }
 .herotext{
  position: absolute;
  z-index: 2;
  text-align: center;
  //top: 200px;
  //left: 380px;
  text-shadow: 4px 4px 10px rgba(150, 150, 150, 1);
 } 
 .herotext > h1{
    @include font($head-font, 4em, bold, white);
 }
  .herotext > p{
    @include font($head-font, 30px, bold, $color: white);
    text-align: center;
 }
 .herohr{
    display: none;
 }

 .herogradient{
  @include flex-prefix;
  @include align-items-center;
  @include justify-content-center;
  position: absolute;
  z-index: 1;
  top: 52px;
  left: 0px;
  background-color: #9ad3de;
  opacity: 0.7;
  width: 100%;
  height: 576px;
 }   	
 .navicon, .below-hamburger{
    display: none;
 }
 .desktopNav{
    @include flex-prefix;
    @include font($family: $head-font, $size: 0.75em);
 }
 .desktopNav ul {
    @include flex-prefix;
    @include align-items-center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    list-style: none;
    margin-right: 15px;
  }
  .desktopNav a {
    display: block;
    margin-right: 3em;
    text-decoration: none;
    color: white; 
  }
  .headerlogo{
    display: block;
    margin-right: 4px;
    height: 36px;
    width: 36px;
  }
   .mobile-centering{
    @include flex-prefix;
    @include align-items-center;
    @include justify-content-center;
    @include flex-direction-column;
    margin-top: -9px;
  }
  .vara-tjanster{
    @include flex-prefix;
    @include align-items-center;
    @include flex-flow-row-wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .mobile {
  	padding-left: 8px;
  	padding-right: 8px;
  }
  .tjanst {
    @include flex-prefix;
    @include align-items-center;
    @include flex-direction-column;
    @include align-self-flex-start;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 360px;
        -ms-flex: 1 1 360px;
            flex: 1 1 360px;
            flex: 1 0 auto;
    max-width: 540px;
  }
  .portfolio-container {
    @include flex-prefix;
    @include align-items-center;
    @include flex-flow-row-wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .portfolio-col{
    @include flex-prefix;
    @include align-items-center;
    @include flex-direction-column;
    @include align-self-flex-start;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 533px;
            flex: 1 1 533px;
    max-width: 533px;
  }
  .portfolio-heading{
    width: 100%;
  } 
  .portfolio-small{
    @include justify-content-center;
  }
  .contactForm input[type=text]{
    width: 500px;
  }
  .blueline{
    width: 50%;
  }
  .dark-blue {
  	width: 269px;
  	height: 364px;		
  	background-color: $color-lightblue; }
  .light-blue {
  	width: 269px;
  	height: 364px;		
  	background-color: $color-lightgrey; 
  }
  .light-blue {
  	width: 269px;
  	height: 364px;		
  }
  .om-oss {
  @include flex-prefix;
  @include align-items-center;
  @include justify-content-center;
  @include flex-flow-row-wrap;
  }
  .om-oss-col {
    @include flex-prefix;
    @include align-items-center;
    @include flex-direction-column;
    @include align-self-flex-start;
	  //-webkit-box-flex: 1;
	  //    -ms-flex: 1 1 0px;
	  //        flex: 1 1 0px;
            flex: 1 0 auto;
  }
  .p1 {
  	width: 700px;
  	margin-bottom: 2em;
  }
  .p2 {
    width: 500px;
  }
  .kontakt{
    @include flex-prefix;
    @include align-items-center;
    @include flex-flow-row-wrap;
    @include align-self-flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  } 
  .contactForm input[type=text]{
    width: 500px;
  }
 
  /*---------- Footer ------------*/
  .desktop-centering{
    flex-flow: row;
    justify-content: space-around;
    margin: 2em; 
  }
  .footer-text{
    flex-direction: column;
    width: 70%;
  }
  .footer-text h2, h3 {
    text-align: left;
  }
  .footericonswraper{
    flex-direction: column;
    width: 30%;
    justify-content: flex-end;
  }
  .footericons{
  	display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }  
.flexcol{
    @include flex-prefix;
    @include align-items-center;
    @include justify-content-center;
    @include flex-direction-column;
    @include align-self-flex-start;
    max-width: 533px;
  }

   .map
  {
      width:350px;
      height: 350px;
  }
               
}
