// === Colors ===
$color-darkblue: #89bdd3;
$color-lightblue: #9ad3de;
$color-darkgrey: #c9c9c9;
$color-lightgrey: #e3e3e3;
$color-lightestgrey: #f5f2f2;
$color-orange: #FF9000;

// === Fonts ===
$head-font: 'PT Sans', 'Arial', sans-serif;
$base-font: 'Lato', 'Arial', sans-serif;

// === Sizes ===
